// Grid Stuff
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: 374px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  width: 50%;
}


// Floats
.pull--left {
  float: left;
}

.pull--right {
  float: right;
}

.clear {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}


// Menu Stuff
.menu--inline {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}


// Text Stuff
.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

// Buttons
.btn {
  display: inline-block;
  min-width: 240px;
  padding: 16px 48px;
  text-transform: uppercase;
  font-weight: bold;
  transition: .25s all ease;

  &--primary {
    color: #fff;
    background: $color-green;

    &:hover, &:active, &:focus {
      background: darken(#07974d, 10%);
      text-decoration: none;
      transition: .25s all ease;
    }
  }
}